# 57.

In [ ]:
def vol(rad):
    return (4/3)*(3.14159)*(rad**3)

In [6]:
vol(2)

33.51029333333333

In [9]:
for item in range(0,5):
    print(item)
    
5 in range(0,10)

0
1
2
3
4

True

In [15]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in the range of {low} and {high}')
    else:
        print(num+"is not in the range")

In [16]:
ran_check(18,2,34)

18 is in the range of 2 and 34

In [20]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f'Original String: {s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [22]:
s = 'I am taking a Python introductory class at Ivy Tech Community College, it is great!'
up_low(s)

Original String: I am taking a Python introductory class at Ivy Tech Community College, it is great!
Lowercase count: 61
Uppercase count: 6

In [23]:
def unique_list(lst):
    return list(set(lst))

In [24]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [25]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total*num
    return total

In [27]:
multiply([1,2,3,-4])

-24

In [30]:
def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [32]:
palindrome('banana b')

True

In [33]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    return str1 == alphaset

In [34]:
ispangram("The quick brown fox jumps over the lazy dog")

True

# 73.

In [56]:
class Line:
    def _init_(self,coor1,coor2):
        self.coor1=coor1
        self.coor2=coor2
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return((x2-x1)**2 + (y2-y1)**2)**0.5
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)

In [57]:
c1=(3,2)
c2=(8,10)

In [59]:
myline=(c1,c2)

In [60]:
myline.distance()

AttributeError: 'tuple' object has no attribute 'distance'

In [61]:
myline.slope()

AttributeError: 'tuple' object has no attribute 'slope'

In [62]:
class Cylinder:
    
    def _init_(self,height=1,radius=1):
        
        self.height = height
        self.radius = radius
        
    def volume(self):
        return self.height * 3.14159 * (self.radius)**2
    
    def surface_area(self):
        
        top = 3.14 * (self.radius**2)
        
        return (2*top) + (2*3.14159*self.radius*self.height)

In [63]:
mycyl = Cylinder(2,3)

TypeError: Cylinder() takes no arguments

In [64]:
mycyl.surface

NameError: name 'mycyl' is not defined